<h1 mat-dialog-title>{{ context === 'mine' ? 'Zmień swoje hasło' : 'Zmień hasło użytkownika' }}</h1>
<form [formGroup]="formGroup" mat-dialog-content>
  <div class="row">
    <mat-form-field class="col">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="hasError('password')">{{getError('password')}}</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <mat-label>Potwierdź hasło</mat-label>
      <input type="password" matInput formControlName="confirmPassword">
      <mat-error *ngIf="hasError('confirmPassword')">{{getError('confirmPassword')}}</mat-error>
    </mat-form-field>
  </div>
</form>
<div class="flex justify-content-between m-3" mat-dialog-actions>
  <button (click)="cancel()" mat-raised-button color="warn">
    Anuluj
    <mat-icon>cancel</mat-icon>
  </button>
  <button (click)="changePassword()" mat-raised-button color="primary">
    Zatwierdź
    <mat-icon>published_with_changes</mat-icon>
  </button>
</div>
