@import '../../styles/scss/variables';
.checker {
  border-radius: 4px;
  border: 2px solid $main-color;
  padding: 10px;

  .item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;

    * {
      color: red;
    }

    &.correct * {
      color: green;
    }
  }
}
