<div class="checker">
  <div class="item" [class.correct]="isLengthCorrect()">
    <mat-icon>{{ isLengthCorrect() ? 'check' : 'clear' }}</mat-icon>
    <span>Czy hasło ma co najmniej 8 znaków?</span>
  </div>
  <div class="item" [class.correct]="hasSpecialSign()">
    <mat-icon>{{ hasSpecialSign() ? 'check' : 'clear' }}</mat-icon>
    <span>Czy hasło posiada znak specjalny?</span>
  </div>
  <div class="item" [class.correct]="hasBigLetter()">
    <mat-icon>{{ hasBigLetter() ? 'check' : 'clear' }}</mat-icon>
    <span>Czy hasło posiada dużą literę?</span>
  </div>
  <div class="item" [class.correct]="hasDigit()">
    <mat-icon>{{ hasDigit() ? 'check' : 'clear' }}</mat-icon>
    <span>Czy hasło posiada cyfrę?</span>
  </div>
</div>
