<section>
  <div class="left-section">
    <img src="assets/images/student.svg" alt="Logo">
    <h1>Kursy 2.0</h1>
  </div>
  <div class="right-section">
    <button [routerLink]="'kursy'" mat-raised-button>Wszystkie kursy</button>
    <button mat-raised-button>Moje kursy</button>
    <a
      *hasRoles="['ADMIN', 'CREATOR']"
      mat-raised-button
      [routerLink]="'kursy/utworz'"
    >Stwórz nowy kurs</a>
    <app-timer></app-timer>
    <app-user-button></app-user-button>
    <button mat-icon-button (click)="logout()">
      <mat-icon class="leave-icon">exit_to_app</mat-icon>
    </button>
  </div>
</section>
