<section>
  <div class="left-section">
    <img src="assets/images/student.svg" alt="Logo">
    <h1>Kursy 2.0</h1>
  </div>
  <div class="right-section">

    <ng-container *ngIf="(isMobile$ | async) === false">
      <button [routerLink]="'kursy'" mat-raised-button>
        <span *ngIf="(isMobile$ | async) === false">Wszystkie kursy</span>
      </button>
      <button [routerLink]="'kursy/moje'" mat-raised-button>
        Moje kursy
      </button>
      <a
        *hasRoles="['ADMIN', 'CREATOR']"
        mat-raised-button
        [routerLink]="'kursy/utworz'"
      >
        Stwórz nowy kurs
      </a>
      <button
        *hasRoles="['ADMIN']"
        [routerLink]="'panel'"
        mat-raised-button
      >
        Panel administracyjny
      </button>
    </ng-container>

    <ng-container *ngIf="isMobile$ | async">
      <button
        [routerLink]="'kursy'"
        mat-mini-fab
        matTooltip="Wszystkie kursy"
      >
        <mat-icon>list</mat-icon>
      </button>
      <button
        [routerLink]="'kursy/moje'"
        mat-mini-fab
        matTooltip="Moje kursy"
      >
        <mat-icon>checklist</mat-icon>
      </button>
      <a
        *hasRoles="['ADMIN', 'CREATOR']"
        mat-mini-fab
        [routerLink]="'kursy/utworz'"
        matTooltip="Dodaj kurs"
      >
        <mat-icon>playlist_add</mat-icon>
      </a>
      <button
        *hasRoles="['ADMIN']"
        [routerLink]="'panel'"
        mat-mini-fab
        matTooltip="Panel administracyjny"
      >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    </ng-container>

    <app-timer></app-timer>
    <app-user-button></app-user-button>
    <button
      mat-icon-button
      (click)="logout()"
      matTooltip="Wyloguj"
    >
      <mat-icon class="leave-icon">exit_to_app</mat-icon>
    </button>
  </div>
</section>
