<form [formGroup]="formGroup">

  <div class="row">
    <mat-form-field class="col">
      <mat-label>Nazwa kursu</mat-label>
      <input type="text" matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Poziom</mat-label>
      <mat-select formControlName="level">
        <mat-option *ngFor="let level of levels" [value]="level.value">{{ level.label }}</mat-option>
      </mat-select>
      <mat-icon matPrefix (click)="clearField('level')">close</mat-icon>
    </mat-form-field>

    <div class="button-container col-md-2">
      <button
        mat-raised-button
        color="primary"
        (click)="applyFilters()"
      >Zastosuj</button>
    </div>

    <div class="button-container col-md-2">
      <button (click)="clear()" mat-raised-button>Wyczyść</button>
    </div>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <mat-label>Język</mat-label>
      <mat-select formControlName="language">
        <mat-option *ngFor="let language of languages" [value]="language.value">{{ language.label }}</mat-option>
      </mat-select>
      <mat-icon matPrefix (click)="clearField('language')">close</mat-icon>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="active">Aktywne</mat-option>
        <mat-option value="finished">Zakończone</mat-option>
      </mat-select>
      <mat-icon matPrefix (click)="clearField('status')">close</mat-icon>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Od (data rozpoczęcia)</mat-label>
      <input matInput formControlName="dateStart" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-icon matPrefix (click)="clearField('dateStart')">close</mat-icon>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Do (data zakończenia)</mat-label>
      <input matInput formControlName="dateFinish" [matDatepicker]="pickerFinish">
      <mat-datepicker-toggle matIconSuffix [for]="pickerFinish"></mat-datepicker-toggle>
      <mat-datepicker #pickerFinish></mat-datepicker>
      <mat-icon matPrefix (click)="clearField('dateFinish')">close</mat-icon>
    </mat-form-field>
  </div>

</form>
