.badge {
  color: white;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 12px;
  border: none;
  font-size: .9rem;

  &.green {
    background-color: limegreen;
  }
  &.blue {
    background-color: dodgerblue;
  }
  &.gold {
    background-color: gold;
  }
}
