<div class="panel" *ngIf="lessons$ | async as data">
    <h2>Lekcje</h2>
    <div *ngIf="data?.length; else noDataTemplate" class="list">
      <mat-expansion-panel *ngFor="let lesson of data">
        <mat-expansion-panel-header>
          <p>
            <strong>{{ lesson.title }}</strong>
            <span>{{ ' (' + getFormattedDate(lesson.date) + ' ' + lesson.timeStart + ' - ' + lesson.timeFinish + ')' }}</span>
          </p>
        </mat-expansion-panel-header>
        <mat-panel-description>
          {{ lesson.description }}
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
    <ng-template #noDataTemplate>
      <span class="no-data">Brak lekcji w kursie.</span>
    </ng-template>
</div>

