<h1 mat-dialog-title>Dodaj lekcję</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <h2>Podaj terminy zajęć</h2>
    <div class="row lesson-row">
      <mat-form-field class="col">
        <mat-label>Wybierz datę lekcji</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('date')">{{getError('date')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>Godzina rozpoczęcia</mat-label>
        <input matInput type="time" formControlName="timeStart">
        <mat-error *ngIf="hasError('timeStart')">{{getError('timeStart')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>Godzina zakończenia</mat-label>
        <input matInput type="time" formControlName="timeFinish">
        <mat-error *ngIf="hasError('timeFinish')">{{getError('timeFinish')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col">
        <mat-label>Nazwa lekcji</mat-label>
        <input matInput type="text" formControlName="title">
        <mat-error *ngIf="hasError('title')">{{getError('title')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col">
        <mat-label>Opis lekcji (opcjonalny)</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="hasError('description')">{{getError('description')}}</mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div class="d-flex justify-content-between" mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Anuluj</button>
  <button mat-raised-button color="primary" (click)="submit()">Zatwierdź</button>
</div>
