<section>
  <h1>{{ isPersonalPage ? 'Moje kursy' : 'Lista kursów' }}</h1>
  <div class="container">
    <div class="tile-grid" *ngIf="!loading else loadingTemplate">
      <app-course
        *ngFor="let course of data"
        [data]="course"
        (onDelete)="openConfirmationModal(course.id)"
        (onEnroll)="course.isEnrolled ? leaveUserFromCourse(course.id) : enrollUserToCourse(course.id)"
      ></app-course>
    </div>
    <ng-template #loadingTemplate>
      <app-loader></app-loader>
    </ng-template>
  </div>
</section>
