section {
  .form-box {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 1000px;

    @media (max-width: 1050px) {
      width: unset;
    }

    .header {
      margin-bottom: 1rem;
    }
  }
}
