<section>
  <mat-card class="form-box">
    <div class="d-flex justify-content-between align-items-center header">
      <h1 class="m-0">Tworzenie kursu</h1>
      <a [routerLink]="'kursy'" color="primary" mat-raised-button>
        Do kursów
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </a>
    </div>
    <app-course-create-edit-form [formGroup]="formGroup"></app-course-create-edit-form>
    <button class="p-4" mat-raised-button color="primary">Utwórz kurs</button>
  </mat-card>
</section>
