<section *ngIf="!loading; else loader">
  <mat-card class="form-box">
    <div class="d-flex justify-content-between align-items-center header">
      <h1 class="m-0">{{ id ? 'Edycja kursu' : 'Tworzenie kursu' }}</h1>
      <button (click)="backClicked()" color="primary" mat-raised-button>
        Powrót
        <mat-icon>arrow_backward</mat-icon>
      </button>
    </div>
    <app-course-create-edit-form
      [formGroup]="formGroup"
      [lessons]="datetimes"
      [users]="users$ | async"
    ></app-course-create-edit-form>
    <button class="p-4" mat-raised-button color="primary" (click)="submitCourse()">
      <ng-container *ngIf="!submitLoading; else submitLoader">
        {{ id ? 'Zaktualizuj kurs' : 'Utwórz kurs' }}
      </ng-container>
      <ng-template #submitLoader>
        Ładowanie
      </ng-template>
    </button>
  </mat-card>
</section>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
